body {
  font-family: consolas;
}

h1 {
  text-align: center;
}

nav {
  margin: 0 auto;
  width: 240px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  width: 820px;
  height: 620px;
  margin: 0 auto;
}
