:host {
  display: block;
  position: relative;
  border: 5px solid #dd0031;
  width: 400px;
  height: 300px;
  margin: auto;
}

:host::before {
  content: "";
  position: absolute;
  background-image: url("http://localhost:3200/assets/icons/angular.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  z-index: 1;
}

:host([ready=true]) img.thumb {
  opacity: 0;
}

img {
  width: 400px;
  height: 300px;

  &.thumb {
    position: absolute;
    opacity: 1;
    transition: opacity .5s;
  }
}
