.load-image {
  display: block;
  position: relative;
  border: 5px solid #61dafb;
  width: 400px;
  height: 300px;
  margin: auto;
}

.load-image::before {
  content: "";
  position: absolute;
  background-image: url("http://localhost:3200/assets/icons/react.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
