body {
  font-family: sans-serif, monopsace, consolas;
  font-size: 20px;
}

button {
  font-size: 20px;
}

h1, h2, h3, p, pre {
  margin: 0;
}

p {
  margin-top: 1.5rem;
}

pre {
  font-size: 26px;
  line-height: 1;
  margin-top: 0.5rem;
}

button {
  font-size: 30px;
}

code {
  overflow: hidden;
}

pre > code {
  font-family: Consolas, 'Courier New', monospace;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.columns {
  display: flex;
}

.column {
  margin: 1rem;
}

.hljs {
  background: bisque;
  border-radius: 12px;
  padding: 0 1rem;
}

.custom-elements-example {
  position: relative;
  margin-bottom: 0;
}

.custom-elements-example-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

slotted-button,
template-button,
custom-button,
custom-text-button {
  display: inline-block;
  padding-top: 1rem;
}

#overview-button {
  background: none;
  border: none;
  color: transparent;
}

#overview-button:hover {
  color: black;
  background: #ccc;
  cursor: pointer;
}


.step {
  position: relative;
  min-width: 1000px;
  height: 800px;
  padding: 90px 110px;

  box-sizing: border-box;

  color: rgb(95, 95, 95);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.5;
}

.step .notes {
  display: none;
}

.small-step {
  padding: 90px 190px;
}

.large-step {
  padding: 0;
  margin: 0 auto;
}

.substep {
  font-weight: normal;
}
.substep.substep-visible {
  font-weight: bold;
  transition: opacity 1s;
}

can-i-use {
  display: block;
  font-size: 24px;
}

can-i-use-total {
  display: block;
  margin: 0.25em;
}

#overview {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.custom-button-image {
  position: absolute;
  z-index: 5;
  margin-top: 1.2rem;
}

.custom-button-html-result .hljs-tag:nth-of-type(1),
.custom-button-html-result .hljs-tag:nth-of-type(4) {
  display: block;
}

.custom-button-html-result .hljs-tag:nth-of-type(2) {
  display: inline;
  margin-left: 30px;
}

.why-are-web-components-awesome > ul > li {
  margin-bottom: 40px;
}

.expose-type {
  display: inline-block;
  width: 200px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 100px;
}

img {
  max-width: 1100px;
}

.spacing {
  display: block;
  margin-top: 2rem;
}

.ref {
  display: block;
  margin: 400px 0 0 auto;
}

.left {
  display: block;
  margin: 100px 0;
}


/***** Fallback message *****/

.fallback-message {
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 0 10px;
  margin: 20px auto;

  border-radius: 10px;
  background: #aaa;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

.inline {
  display: inline;
}


/***** progressbar *****/

.impress-progressbar {
  position: absolute;
  right: 318px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
